.about .container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.about-heading h1 {
  line-height: 0;
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  line-height: 0;
  font-size: 2rem;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about-details {
  flex: 1;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 3rem;
  transition: color 650ms;
}

.social-media ul {
  text-align: center;
}

.social-media li {
  display: inline;
  padding: 0px 10px;
}

/*Media queries*/

@media screen and (max-width: 768px) {
  .about-heading {
    font-size: 8rem;
  }
}

@media screen and (max-width: 600px) {
  .about .container {
    flex-direction: column;
  }

  .profile-img {
    margin: 0 0 7rem 0;
  }
}
