header {
  width: 100%;
  height: 100vh;
}

.landing-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*Center it perfectly in the middle*/
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1 {
  font-size: 10rem;
  font-family: Montserrat, sans-serif;
  user-select: none; /*Disable dragging around logo*/
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Fira Code", monospace;
}

/*Media queries*/

@media screen and (max-width: 768px) {
  .landing-text h1 {
    font-size: 15rem;
  }
  .landing-text h6 {
    font-size: 1.7rem;
  }
}

/*Media queries*/

@media screen and (max-width: 600px) {
  .landing-text h1 {
    font-size: 8rem;
  }
  .landing-text h6 {
    font-size: 1.4rem;
  }
}
