.copyright {
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
  margin-top: 10px;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
}

.up i {
  color: #16162d;
  font-size: 3rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 173, 173, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(0, 173, 173, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 173, 173, 0);
  }
}
